<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>82878314088-19r29u0l3ehnoi20c4b0l05nfic751f1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.82878314088-19r29u0l3ehnoi20c4b0l05nfic751f1</string>
	<key>API_KEY</key>
	<string>AIzaSyCPLIgLYbw023_SamPBmsa62XeBeRR8pKk</string>
	<key>GCM_SENDER_ID</key>
	<string>82878314088</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.JisuJang.WhatToEat-</string>
	<key>PROJECT_ID</key>
	<string>y0jz-2e373</string>
	<key>STORAGE_BUCKET</key>
	<string>y0jz-2e373.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:82878314088:ios:784783cc5ee3b6eeae6ddd</string>
</dict>
</plist>